Hi,

für den heutigen Tag ist eine Gruppe {{group.id}}.
Der Link für das Quiz ist {{group.quizlink}}.
Euer Big Blue Button Raum (das ist ein Voicechat-System, dass von der Informatik gehostet wird) ist {{group.communicationlink}}.

Viele Grüße
Deine Fachschaft