Hi,

für den heutigen Tag ist eine Gruppe {{group.name}}.
Der Link für das Quiz ist http://localhost:5000/group/{{group.access_hash}}. 
Euer Big Blue Button Raum (das ist ein Voicechat-System, dass von der Informatik gehostet wird) ist {{group.communicationlink}}.

Viele Grüße
Deine Fachschaft