<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Lecturer Evaluation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .alert {
            height: 100vh;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            line-height: 90px;
        }
    </style>
</head>

<body>
    <div class="alert alert-danger" role="alert">
        404. Not found. Please contact <a href="mailto:{{ support_mail_address }}">
            {{ support_mail_address }}</a>
    </div>

</body>

</html>