{% extends "layout.html" %}

{% block content %}
	<div class="content">
		<section>
			<h2 class="px-2 py-5">Links</h2>
			<div class="card-container">
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Quiz</h5>
						<p class="card-text">
							<form action="/quiz", method="POST">
								<button type="submit" class="btn btn-primary">Load Quiz</button>
							</form>
							<a href="/quiz" class="btn btn-primary">Quiz</a>
						</p>
					</div>
				</div>
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Generate Groups</h5>
						<p class="card-text">
						<form action="/api/group", method="POST">
							<div class="form-group">
								<label class="form-check-label" for="size_min">Min Gruppengr&ouml;sse</label>
								<input type="number" name="size_min", id="size_min" class="form-control">
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
						</p>
					</div>
				</div>
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Send Mail</h5>
						<p class="card-text">
						<form action="/api/mail", method="POST">
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
