{% extends "layout.html" %}

{% block head %}
<script>
	NO_QUESTION_TEXT = "Aktuell wird keine Frage gespielt"
	function reqListener () {
		a = JSON.parse(this.responseText);
  		console.log(a);
		
		const current_answer = document.getElementById("current_answer"); 
		current_answer.innerText = a.answer

		const group_name_heading= document.getElementById("group_name_heading"); 
		group_name_heading.innerText = "Gruppe " + a.group_name

		if (a.question){
			const question_text = document.getElementById("question_text"); 
			question_text.innerText = a.question.question;
			const answer_options = document.getElementById("answer"); 
			answer_options.innerHTML = "";
			for(let i = 0; i < a.question.answers.length; i++){
				const newOption = document.createElement("option"); 	
				newOption.innerText = a.question.answers[i];
				answer_options.appendChild(newOption);
			}
		}
		else {
			const question_text = document.getElementById("question_text"); 
			question_text.innerText = NO_QUESTION_TEXT;
		}
	}

	function requestData(){
		var oReq = new XMLHttpRequest();
		oReq.addEventListener("load", reqListener);
		oReq.open("GET", "{{ get_new_data_url }}");
		oReq.send();
	}

	setInterval(requestData, 5000);
	requestData();
</script>
{% endblock %}

{% block content %}
{% if(success) %}
<div class="alert alert-success" role="alert">
	{{success}}
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger" role="alert">
	{{error}}
</div>
{% endif %}
<noscript>
<div class="alert alert-danger" role="alert" id="nojs">
	Kein Javascript. Ok, aber dann musst du selber die Seite neuladen ;)
</div>
</noscript>
<div style="min-height: 20px;"></div>
<div class="content">
	<h1 id="group_name_heading" >Gruppe {{group.name}}</h1>
	<p>Euer BigBlueButton Raum ist unter {{group.com_link}}</p>
	<h2 id="question_text"></h2>
	<p>Eure aktuelle Antwort lautet: <span id="current_answer"></span></p>
	<form action="/group/{{group.access_hash}}" method="POST">
		<div class="form-group">
			<label for="answer">Antwort</label>
			<select class="form-control" id="answer" , name="answer">
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<form action="/group/{{group.access_hash}}" method="POST">
		<div class="form-group">
			<label for="group_name">Gruppenname</label>
			<input type="text" class="form-control" id="group_name" name="group_name">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %}