<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">

<head>
	<title>Orientierungseinheit 2020</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
	<style>
		.content {
			margin: 0px auto;
			max-width: 1300px;
		}

		#hero {
			background: linear-gradient(#131b72, #33276b);
			background-size: cover;
			background-position: center;
		}

		.card-clickable {
			min-width: 100px;
			max-width: 350px;
			margin: 5px;
		}

		.card-clickable:hover {
			transition: all 0.2s ease-out;
			box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
			top: -4px;
			border: 1px solid #cccccc;
			background-color: white;
		}

		.card-clickable:hover:before {
			transform: scale(2.15);
		}

		.card-container {
			flex-direction: row;
			flex-wrap: wrap;
			display: flex;
			justify-content: center;
			margin: 0 auto;

		}

		.btn {
			margin: 2px;
		}
	</style>
</head>

<body>
	<div id="hero" class="jumbotron text-light min-vh-100">
		<div class="content">
			<h1 class="display-4 my-5 py-5">O&#173;ri&#173;en&#173;tier&#173;ungs&#173;ein&#173;heit 2020</h1>
			<p class="lead">
				Vom 26.10. bis zum 30.10. findet die Orientierungseinheit (OE) statt.
				In dieser wollen wir euch alles beibringen, was ihr f&uuml;r euer Informatik-Studium braucht.
			</p>
			<hr class="my-4 bg-light" />
			<h2>Kurzfakten</h2>
			<ul>
				<li>Wann? 26. - 30.10.2020</li>
				<li>Wer? Ihr alle!</li>
				<li>Was? Alle wichtigen Infos f&uuml;rs Studium und viel Spiel und Spa&szlig;</li>
			</ul>
			<hr class="my-4 bg-light" />
			<h2>Kontakt</h2>
			<div class="btn-group my-3" role="group" aria-label="Social Media">
				<a href="mailto:oe-orga@fachschaft.info" role="button" class="btn btn-primary">E-Mail</a>
			</div>
		</div>
	</div>
	<div class="content">
		<section>
			<h2 class="px-2 py-5">Links</h2>
			<div class="card-container">
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Registrierung</h5>
						<p class="card-text">
							Damit wir euch in Gruppen einteilen k&ouml;nnen registriere dich bitte vor der OE.
							<a href="/register" class="btn btn-primary">Registrierung</a>
						</p>
					</div>
				</div>
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Informatik Account</h5>
						<p class="card-text">
							F&uuml;r die Informatiker gibt es noch einen zus&auml;tzlichen Account, denn du ben&ouml;tigst.
							Diesen kannst du online erstellen.
							<a href="https://gsg.informatik.uni-bonn.de/doku.php?id=de:accounts:students"
								class="btn btn-primary">Account erstellen</a>
						</p>
					</div>
				</div>
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Chatsystem</h5>
						<p class="card-text">
							Die Informatik hat f&uuml;r ihre Studierenden ein Chatsystem, dass w&auml;hrend der OE benutzt
							wird.
							Es gibt diverse Clients, auch f&uuml;r Handys.
							F&uuml;r den Login wird ein Informatik-Account ben&ouml;tigt.
						</p>
						<a href="https://element.matrix.informatik.uni-bonn.de/" class="btn btn-primary">Chatsystem</a>
						<a href="https://matrix.org/clients/" class="btn btn-primary">Clients</a>
					</div>
				</div>
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Inform</h5>
						<p class="card-text">
							Du kannst an der OE leider nicht teilnehmen oder du willst wichtige Dinge nochmal nachlesen?
						</p>
						<a href="https://fachschaft.info/erstsemester/inform" class="btn btn-primary">Inform</a>
					</div>
				</div>
			</div>
		</section>
		<hr />
		<section class="px-2">
			<h2 class="py-5">Erl&auml;uterung zur Checkliste</h2>
			<p>
			<div>
				Der erste Schritt ist deine Uni-ID freizuschalten. Sie ist dein Schl&uuml;ssel zu allen uniweiten Systemen,
				die du so brauchen wirst.
				Was genau das Hochschulrechenzentrum (HRZ) alles anbietet erkl&auml;ren wir dir w&auml;hrend der OE nochmal im
				Detail.
				Zun&auml;chst musst du deine Uni-ID einfach nur &uuml;ber das GOsa-System freischalten.
				Hierf&uuml;r ben&ouml;tigst du die Accountdetails, die auf dem blauen Bogen auf dem auch der Studierendenausweis drauf ist,
				denn du erhalten haben solltest, oben links im Flie&szlig;text stehen.
			</div>
			<a href="https://gosa.gosa.uni-bonn.de/" class="btn btn-primary">Zu GOsa</a>
			</p>
			<p>
			<div>
				Der zweite Schritt ist einen Informatik Account zu erstellen.
				Die Informatik hat ihre eigene IT-Administration, die Gemeinsame Systemgruppe (GSG).
				Mit diesem Account kannst du auf die System der Informatik zugreifen.
				Du ben&ouml;tigst ihn auch f&uuml;r das Chatsystem, dass w&auml;hrend der OE verwendet wird.
			</div>
			<a href="https://gsg.informatik.uni-bonn.de/doku.php?id=de:accounts:students" class="btn btn-primary">Zur
				GSG</a>
			</p>
			<p>
			<div>
				Der dritte Schritt ist dich f&uuml;r die OE zu Registrieren.
				Warum das fragst du dich vielleicht.
				F&uuml;r die OE werdet ihr in Gruppen eingeteilt und was sonst immer mit kleinen Papierlose passiert ist
				braucht im Moment leider eine etwas durchdachtere L&ouml;sung.
			</div>
			<a href="/register" class="btn btn-primary">Zur Registrierung</a>
			</p>
		</section>
		<section class="px-2">
			<h2 class="py-5">Stand zum Freitag</h2>
			<p>
				Leider steht im Moment noch nicht fest, ob wir uns am Freitag in Person treffen k&ouml;nnen.
			</p>
		</section>
		<hr />
		<section>
			<h2 class="px-2 py-5">Tagesplan</h2>
			<p>
				Aktueller Stand, kann sich noch &auml;ndern.
			</p>
			<div class="table-responsive">
				<table class="table">
					<caption>Tagesplan der OE</caption>
					<thead>
						<tr>
							<th scope="col">Uhrzeit</th>
							<th scope="col">Montag, 2020-10-25</th>
							<th scope="col">Dienstag</th>
							<th scope="col">Mittwoch</th>
							<th scope="col">Donnerstag</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">9 Uhr</th>
							<td>Begr&uuml;&szlig;ung, Kleingruppen</td>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
						</tr>
						<tr>
							<th scope="row">10 Uhr</th>
							<td>Begr&uuml;&szlig;ung, Stream</td>
							<td>Stream</td>
							<td>Stream</td>
							<td>Stream</td>
						</tr>
						<tr>
							<th scope="row">11 Uhr</th>
							<td>Stream</td>
							<td>Stream</td>
							<td>Stream</td>
							<td>Stream</td>
						</tr>
						<tr>
							<th scope="row">12 Uhr</th>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
						</tr>
						<tr class="bg-light">
							<th scope="row">13 Uhr</th>
							<td colspan="4">Mittagspause</td>
						</tr>
						<tr>
							<th scope="row">14 Uhr</th>
							<td>Nachmittagsprogramm</td>
							<td>Nachmittagsprogramm</td>
							<td>Nachmittagsprogramm</td>
							<td>Nachmittagsprogramm</td>
						</tr>
						<tr>
							<th scope="row">15 Uhr</th>
							<td>Nachmittagsprogramm</td>
							<td>Nachmittagsprogramm</td>
							<td>Nachmittagsprogramm</td>
							<td>Nachmittagsprogramm</td>
						</tr>
						<tr>
							<th scope="row">16 Uhr</th>
							<td>Abendprogramm</td>
							<td>Abendprogramm</td>
							<td>Abendprogramm</td>
							<td>Abendprogramm</td>
						</tr>
						<tr>
							<th scope="row">17 Uhr</th>
							<td>Abendprogramm</td>
							<td>Abendprogramm</td>
							<td>Abendprogramm</td>
							<td>Abendprogramm</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<hr />
		<section class="px-2">
			<h2>Kontakt</h2>
			<p>
				Du hast Fragen? Kein Problem! Schreib uns einfach an; am besten per E-Mail, aber ansonsten auch auf
				unseren Social Media-Kan&auml;len.
			</p>
			<div class="btn-group my-3" role="group" aria-label="Social Media">
				<a href="mailto:oe-orga@fachschaft.info" role="button" class="btn btn-primary">E-Mail</a>
			</div>
		</section>
	</div>
</body>

</html>