{% extends "layout.html" %}

{% block content %}

	<div id="hero" class="jumbotron text-light min-vh-100">
		<div class="content">
			<h1 class="display-4 my-5 py-5">O&#173;ri&#173;en&#173;tier&#173;ungs&#173;ein&#173;heit 2020</h1>
			<p class="lead">
				Vom 26.10. bis zum 29.10. findet die Orientierungseinheit (OE) statt.
				In dieser wollen wir euch alles beibringen, was ihr f&uuml;r euer Informatik-Studium braucht.
			</p>
			<p style="color: yellow">
				Achtung: Anders als in der Lehr&auml;mtlerveranstaltung behauptet gibt es am Freitag keine Veranstaltung mehr.
				Wenn ihr noch Fragen habt schreibt uns gerne eine E-Mail.
			</p>
			<hr class="my-4 bg-light" />
			<h2>Kurzfakten</h2>
			<ul>
				<li>Wann? 26. - 30.10.2020, ab 9:00 Uhr</li>
				<li>Wer? Ihr alle!</li>
				<li>Was? Alle wichtigen Infos f&uuml;rs Studium und viel Spiel und Spa&szlig;</li>
			</ul>
			<hr class="my-4 bg-light" />
			<h2>Kontakt</h2>
			<div class="btn-group my-3" role="group" aria-label="E-Mail">
				<a href="mailto:oe-orga@fachschaft.info" role="button" class="btn btn-primary">E-Mail</a>
			</div>
			<hr class="my-4 bg-light" />
			<h2>Weitere Infos</h2>
			<p>
				Scroll nach unten!
			</p>
			<p style="color: yellow">
				Anders als in der Lehr&auml;mtlerveranstaltung behauptet gibt es am Freitag keine Veranstaltung mehr.
				Wenn ihr noch Fragen habt schreibt uns gerne eine E-Mail.
			</p>
		</div>
	</div>
	<div class="content">
		<section id="links">
			<h2 class="px-2 py-5">Links</h2>
			<div class="card-container">
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Registrierung</h5>
						<p class="card-text">
							Damit wir euch in Gruppen einteilen k&ouml;nnen registriere dich bitte vor der OE.
						</p>
                        <a href="/register" class="btn btn-primary">Registrierung</a>
					</div>
				</div>
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Informatik-Account</h5>
						<p class="card-text">
							F&uuml;r das Informatikstudium gibt es noch einen zus&auml;tzlichen Account, denn du ben&ouml;tigst.
							Diesen kannst du online erstellen.
						</p>
                        <a href="https://gsg.informatik.uni-bonn.de/doku.php?id=de:accounts:students"
							class="btn btn-primary">Account erstellen</a>
					</div>
				</div>
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Chatsystem</h5>
						<p class="card-text">
							Die Informatik hat f&uuml;r ihre Studierenden ein Chatsystem, dass w&auml;hrend der OE benutzt
							wird.
							Es gibt diverse Clients, auch f&uuml;r Handys.
							F&uuml;r den Login wird ein Informatik-Account ben&ouml;tigt.
						</p>
						<a href="https://element.matrix.informatik.uni-bonn.de/" class="btn btn-primary">Chatsystem</a>
						<a href="https://matrix.org/clients/" class="btn btn-primary">Clients</a>
					</div>
				</div>
				<div class="card card-clickable">
					<div class="card-body">
						<h5 class="card-title">Inform</h5>
						<p class="card-text">
							Du kannst an der OE leider nicht teilnehmen oder du willst wichtige Dinge nochmal nachlesen?
						</p>
						<a href="https://fachschaft.info/erstsemester/inform" class="btn btn-primary">Inform</a>
					</div>
				</div>
			</div>
		</section>
		<hr />
		<section class="px-2" id="brief">
			<h2 class="py-5">Hint zum Brief</h2>
			<p>
				Die Briefe sollten am Mittwoch, den 21.10 verschickt worden sein. Solltet ihr am Samstag keinen Brief bekommen haben, <a href="#kontakt">meldet euch bitte bei uns</a>.
			</p>
		</section>
		<section class="px-2" id="checkliste">
			<h2 class="py-5">Erl&auml;uterung zur Checkliste</h2>
			<p>
			<div>
				Der erste Schritt ist deine Uni-ID freizuschalten. Sie ist dein Schl&uuml;ssel zu allen uniweiten Systemen,
				die du so brauchen wirst.
				Was genau das Hochschulrechenzentrum (HRZ) alles anbietet erkl&auml;ren wir dir w&auml;hrend der OE nochmal im
				Detail.
				Zun&auml;chst musst du deine Uni-ID einfach nur &uuml;ber das GOsa-System freischalten.
				Hierf&uuml;r ben&ouml;tigst du die Accountdetails, die auf dem blauen Bogen auf dem auch der Studierendenausweis drauf ist,
				denn du erhalten haben solltest, oben links im Flie&szlig;text stehen.
			</div>
			<a href="https://gosa.gosa.uni-bonn.de/" class="btn btn-primary">Zu GOsa</a>
			</p>
			<p>
			<div>
				Der zweite Schritt ist einen Informatik Account zu erstellen.
				Die Informatik hat ihre eigene IT-Administration, die Gemeinsame Systemgruppe (GSG).
				Mit diesem Account kannst du auf die System der Informatik zugreifen.
				Du ben&ouml;tigst ihn auch f&uuml;r das Chatsystem, dass w&auml;hrend der OE verwendet wird.
			</div>
			<a href="https://gsg.informatik.uni-bonn.de/doku.php?id=de:accounts:students" class="btn btn-primary">Zur
				GSG</a>
			</p>
			<p>
			<div>
				Der dritte Schritt ist dich f&uuml;r die OE zu Registrieren.
				Warum das fragst du dich vielleicht.
				F&uuml;r die OE werdet ihr in Gruppen eingeteilt und was sonst immer mit kleinen Papierlose passiert ist
				braucht im Moment leider eine etwas durchdachtere L&ouml;sung.
			</div>
			<a href="/register" class="btn btn-primary">Zur Registrierung</a>
			</p>
		</section>
		<section class="px-2" id="stream">
			<h2 class="py-5">Unser Stream</h2>
			<p>
				Am Montag streamen wir von 9-12 und 13-15 Uhr. Vom Dienstag den 26.10.20 bis Donnerstag den 29.10.20 streamen wir jeweils von 10-12 Uhr und von 13-15 Uhr.
				Die URL-Addresse f&uuml;r den Stream wird euch nach eurer Registrierung f&uuml;r die OE per e-Mail zugeschickt.
			</p>
		</section>
		<section class="px-2" id="freitag">
			<h2 class="py-5">Stand zum Freitag</h2>
			<p>
				Leider k&ouml;nnen wir uns an Freitag nicht in Person treffen.
			</p>
		</section>
		<!-- <hr />
		<section>
			<h2 class="px-2 py-5">Tagesplan</h2>
			<p>
				Aktueller Stand, kann sich noch &auml;ndern.
			</p>
			<div class="table-responsive">
				<table class="table">
					<caption>Tagesplan der OE</caption>
					<thead>
						<tr>
							<th scope="col">Uhrzeit</th>
							<th scope="col">Montag, 2020-10-26</th>
							<th scope="col">Dienstag</th>
							<th scope="col">Mittwoch</th>
							<th scope="col">Donnerstag</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">9 Uhr</th>
							<td>Begr&uuml;&szlig;ung, Kleingruppen</td>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
						</tr>
						<tr>
							<th scope="row">9:30 Uhr</th>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
							<td>Kleingruppen</td>
						</tr>
						<tr>
							<th scope="row">10 Uhr</th>
							<td>Begr&uuml;&szlig;ung, Stream, Intro zur Technik</td>
							<td>Stream, IT-Dienste</td>
							<td>Stream, Interview </td>
							<td>Stream, Interview </td>
						</tr>
						<tr>
							<th scope="row">10:30 Uhr</th>
							<td>Stream, Infos zum Studium</td>
							<td>Stream, IT-Dienste</td>
							<td>Stream, void</td>
							<td>Stream, &Auml;mter, Wohnen</td>
						</tr>
						<tr>
							<th scope="row">11:00 Uhr</th>
							<td>Stream, Infos zum Studium</td>
							<td>Stream, void</td>
							<td>Stream, Hochschulpolitik</td>
							<td>Stream, Soziales</td>
						</tr>
						<tr>
							<th scope="row">11:30 Uhr</th>
							<td>Stream, Interview Prof. Meier</td>
							<td>Stream, Interview Prof. Langetepe</td>
							<td>Stream, Schnitzeljagd</td>
							<td>Stream, void</td>
						</tr>
						<tr class="bg-light">
							<th scope="row">12 Uhr</th>
							<td colspan="4">Mittagspause</td>
						</tr>
						<tr>
							<th scope="row">13 Uhr</th>
							<td>Stream, Schnitzeljagd</td>
							<td>Stream, Schnitzeljagd</td>
							<td>Stream, Die Fachschaft </td>
							<td>Stream, Schnitzeljagd</td>
						</tr>
						<tr>
							<th scope="row">13:30 Uhr</th>
							<td>Stream, Infos zum Studium</td>
							<td>Stream, IT-Dienste</td>
							<td>Stream, void</td>
							<td>Stream, &Auml;, Wohnen</td>
						</tr>
						<tr>
							<th scope="row">14:00 Uhr</th>
							<td>Stream, Infos zum Studium</td>
							<td>Stream, void</td>
							<td>Stream, Hochschulpolitik</td>
							<td>Stream, Soziales</td>
						</tr>
						<tr>
							<th scope="row">14:30 Uhr</th>
							<td>Stream, Spiel des Tages</td>
							<td>Stream, Spiel des Tages</td>
							<td>Stream, Spiel des Tages</td>
							<td>Stream, Spiel des Tages</td>
						</tr>
						<tr>
							<th scope="row">15 Uhr</th>
							<td>Austauschr&auml;umchen</td>
							<td>Austauschr&auml;umchen</td>
							<td>Austauschr&auml;umchen</td>
							<td>Austauschr&auml;umchen</td>
						</tr>
						<tr>
							<th scope="row">16 Uhr</th>
							<td>Spielabend</td>
							<td>Spielabend</td>
							<td>-</td>
							<td>Spielabend</td>
						</tr>
						<tr>
							<th scope="row">18 Uhr</th>
							<td>Abendprogramm</td>
							<td>Abendprogramm</td>
							<td>FSR-Sitzung</td>
							<td>Abendprogramm</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section> -->
		<hr />
		<section class="px-2" id="kontakt">
			<h2>Kontakt</h2>
			<p>
				Du hast Fragen? Kein Problem! Schreib uns einfach an; am besten per E-Mail, aber ansonsten auch auf
				unseren Social Media-Kan&auml;len.
			</p>
			<div class="btn-group my-3" role="group" aria-label="Social Media">
				<a href="mailto:oe-orga@fachschaft.info" role="button" class="btn btn-primary">E-Mail</a>
			</div>
		</section>
	</div>
{% endblock %}

