{% extends "layout.html" %}

{% block content %}
	<div class="card-container">
	{% for question in questions %}
		<div class="card card-clickable">
			<div class="card-body">
				<h5 class="card-title">{{question.text}}</h5>
				<p class="card-text">
					<form action="/api/question/{{question.access_hash}}" method="POST">
						<div class="form-group">
							<select class="form-control" id="status", name="status">
								<option {% if(question.status == QuestionState.NEW)%}selected{% endif %} value="NEW">New</option>
								<option {% if(question.status == QuestionState.ACTIVE)%}selected{% endif %} value="ACTIVE">Active</option>
								<option {% if(question.status == QuestionState.FINISHED)%}selected{% endif %} value="FINISHED">Finished</option>
							</select>
							{% if(question.status == QuestionState.ACTIVE)%}
							<p>
								Anzahl Antworten bis jetzt: {{ question.get_amount_answers() }} 
							</p>
							{% endif %}
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</p>
			</div>
		</div>
	{% endfor %}	
	</div>
		
{% endblock %}
